[user]
	email = vazanoir@outlook.fr
	name = Vazanoir
[init]
	defaultBranch = main
[core]
	editor = nvim
[grep]
	lineNumber = true
	extendRegexp = true
[alias]
	fgrep = grep --break --heading --line-number
